/*---@MEDIA SCREEN  1440px ---*/
@media screen and (max-width: 1440px) {
    .header-nav_menu {
      flex-grow: 0;
    }
    .header-nav_brand > a > span {
      margin-left: 92px;
      margin-right: 95.47px;
    }
    .header-nav_menu > ul > li:last-child {
      margin-right: 65.36px;
    }
    .contacts_section_btn {
      margin-left: 45px;
      margin-right: 50px;
    }
    .header-banner__content {
      margin-left: 244px;
    }
    .col-example-text > p {
      font-size: 14px;
      line-height: 27px;
      margin-block-start: 34px;
      margin-block-end: 42px;
      padding-right: 50px;
    }
    .completed-example__row {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
    }
    .completed-example___column-desc-img {
      margin-right: 131px;
    }
    .completed-example___column-desc {
      margin-left: 184px;
      margin-top: 126px;
    }
    .cards-container-gallery {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      margin-left: 50px;
    }
    .img-advantage-diggit-list {
      margin-left: 241px;
    }
    .bottom-feeds__column_form-feedsback {
      margin-left: 41px;
    }
    .gallery-section-column {
      display: flex;
      flex-direction: column;
      margin-left: 0px;
    }
    .gallery-subtitle {
      margin-left: 99px;
      margin-right: 77px;
      padding-right: 80px;
    }
    .card-person-content {
      width: 80%;
    }
    .our-clients-cards-container {
      margin-bottom: 31px;
    }
    .footer-nav_brand > a > span {
      margin-left: 92px;
      margin-right: 95.47px;
    }
    .diggit-text-number-four {
      padding-inline-end: 80px;
      padding-top: 8px;
    }
    .diggit-text {
      padding-right: 0px;
    }
    .col-example-title-mobile-version {
      display: none;
      margin-top: 10px;
    }
    .title-complete-project-mobile-version {
      display: none;
      font-family: "Yeseva One", serif;
      font-size: 27px;
      line-height: 37px;
      letter-spacing: -0.07em;
      text-transform: uppercase;
      color: var(--color-bg);
    }
    .col-example-text-mobile-version > p {
      display: none;
      font-size: 14px;
      line-height: 27px;
      margin-block-start: 34px;
      margin-block-end: 42px;
      padding-right: 220px;
    }
    .col-example-desc-project-city-mobile-version {
      display: none;
    }
    .col-example-desc-project-repair-mobile-version {
      display: none;
    }
    .main-bottom-desc-mobile-version {
      display: none;
    }
    .form-content-mobile-version {
      display: none;
    }
  
    .form-content_text-mobile-version {
      display: none;
    }
    .form-content-block-mobile-version .form-content_text-mobile-version > p {
      display: none;
    }
    .form-container-mobile-version  {
      display: none;
    }
    .footer-gallery-slider-mobile-version {
      display: none;
    }
    .footer-feed-form-container{
      display: none;
    }
  }
/*---@MEDIA SCREEN  1440px ---*/
